
.footer {
  text-align: center;
  padding: 19px 24px 20px;
  color: #333; /* Adjust the color as needed */
  background-color: #f8f8f8; /* Adjust the background color as needed */
  border-top: 1px solid rgba(128, 128, 128, 0.2); /* Adjust the border color and style as needed */
  transition: all 0.4s;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}