.feature-marker {
  background-color: #828bee;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 2px;
}

.feature-tag {
  background-color: white;
  font-weight: bold;
  padding: 2px 5px;
  border: 1px solid #828bee;
  border-radius: 3px;
  margin-left: 2px;
}